/* .left-padding{
    padding-left: 20%;
} */

a {
    max-width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

lightning-input input{
    text-align: center;
}

/* dont know a better way to get the
lightning-input to align to top of 
parent div at the moment */
.standard-input{
    margin-top: -1.5em;
}

.datetime{
    min-height: 2em;
}