.read-only-padding{
    padding-left: 20%;
}

a {
    max-width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

lightning-input input{
    text-align: center;
}

.datetime{
    min-height: 2em;
}