.note:hover{
    cursor: pointer;
    background-color: lightgrey;
}

.note-body{
    text-align: left;
    border-radius: 4%;
    padding: 0.5em;
    margin: 0.5em;
}

.note-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.note-time{
    text-align: right;
    font-size: .8em;
    color: black;
    transition: all 0.1s ease-in-out;
    display: flex;
    justify-content: space-between;
}

.field-name{
    border-bottom: black 1px solid;
    cursor: pointer;
}

.field-name:hover{
    background-color: lightcyan;
}

.field-selected{
    background-color: lightcyan;
}