.table-row{
    border-bottom: 1px solid black;
}

.table-row:hover{
    background-color: lightgray;
}

.cell{
    overflow-x: clip;
    cursor: pointer;
    position: relative;
}

.cell:hover{
    /* cursor: pointer; */
}

.edit-icon{
    position: absolute;
    top: 50%;
    right: 10%;
    cursor: pointer;
}