.rte-launcher{
    position: relative;
    left: 2%;
    display: block;
    cursor: pointer;
}

.rte{
    position: absolute;
    left: 10%;
    z-index: 1;
    min-width: 22em;
}

.cell{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    border-bottom: 1.5px solid lightgrey;
    max-height: 2em;
}

.cell:hover{
    background-color: rgba(224, 216, 216, 0.3);
}