.report-box{
    padding-left: 1rem;
    max-height: 400px;
}

.field-list{
    overflow-y: auto;
    max-height: 11rem;
}

.alert-icon-box{
    text-align: right;
}

.gpt-summary-container{
    margin: 1em .5em;
    overflow-y: auto;
    max-height: 11rem;
    position: relative;
}

.gpt-summary::after {
    content: '|';
    animation: blink 1s infinite;
    display: inline;
}

@keyframes blink {
    0%, 49% {
        opacity: 0;
    }
    50%, 100% {
        opacity: 1;
    }
} 

.close-gpt-summary{
    /* put at top right of parent container */
    position: absolute;
    top: 0;
    right: 0;
    margin: .25em;
}

.table-container{
    text-align: center;
    max-height: 500px;
}

.button-group{
    text-align: center;
}

.pinned-views{
    overflow: auto;
    max-height: 3em;
}

.alerts{
    cursor: pointer;
}

.red{
    --lwc-colorTextIconDefault: red;
}

.modal-container{
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal{
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 25%;
    text-align: center;
}

.modal-content{
    display: inline-block;
    justify-content: space-between;
}

.modal-content > .natural-language-search{
    margin: .5em;
}

.natural-language-search-input{
    width: 25rem;
}

.ai-options{
    height: 8em;
    margin: 2em .5em;
    background-color: lightgrey;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

.ai-icon{
    --sds-c-icon-color-foreground-default: white;
}

.filters{
    
}