.report-box{
    padding-left: 1rem;
    max-height: 400px;
}

.field-list{
    overflow-y: auto;
    max-height: 350px;
}

.field-name{
    border-bottom: black 1px solid;
    cursor: pointer;
}

.field-name:hover{
    background-color: lightcyan;
}

.field-selected{
    background-color: lightcyan;
}

.table-container{
    text-align: center;
    max-height: 500px;
}

.button-group{
    text-align: center;
}

.pinned-views{
    overflow: auto;
    max-height: 3em;
}

.pinned-view-container{
    padding: .25em;
}

.pinned-view{
    cursor: pointer;
}

lightning-pill{
    color: rgb(50, 50, 217);
}

.alerts{
    cursor: pointer;
}

.red{
    --lwc-colorTextIconDefault: red;
}

.note:hover{
    cursor: pointer;
    background-color: lightgrey;
}

.note-body{
    text-align: left;
    border-radius: 4%;
    padding: 0.5em;
    margin: 0.5em;
}

.note-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.note-time{
    text-align: right;
    font-size: .8em;
    color: black;
    transition: all 0.1s ease-in-out;
    display: flex;
    justify-content: space-between;
}