.report-box{
    padding-left: 1rem;
    max-height: 400px;
}

.field-list{
    overflow-y: auto;
    max-height: 350px;
}

.table-container{
    text-align: center;
    max-height: 500px;
}

.button-group{
    text-align: center;
}

.pinned-views{
    overflow: auto;
    max-height: 3em;
}

.alerts{
    cursor: pointer;
}

.red{
    --lwc-colorTextIconDefault: red;
}