.header-container{
    background-color: #e3e8e8;
    border-radius: 5%;
    min-height: 2.5em;
}

.column-cell{
    overflow-x: clip;
    background-color: #e3e8e8;
    padding-top: 0.5em; /* center */
}

.column-cell:hover{
    cursor: pointer;
}