.header-container{
    background-color: #c3c5c6;
    border-radius: 5%;
    min-height: 2.5em;
}

.column-cell{
    overflow-x: clip;
    background-color: #c3c5c6;
    padding-top: 0.5em; /* center */
}